* {
	#border: 1px solid blue;
	font-family: "Lucida Console", Courier, monospace;
}
html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	#background-color: lightgrey;
	background-image: linear-gradient(to bottom right, black, white);
	background-attachment: fixed;
}
.assistant {
	height: 25vh;
	display: flex; 
	background-color: white;
	border-radius: 100vw;
	margin: 10px;
	position: relative;
}
#.assistant:hover {border-radius: 0;}
#.assistant:hover img{border-radius: 0;}
.imgSpan {
	width: 25%;
}
img {
	border-radius: 50%;
	height: 25vh;
	width: 25vh;
	#margin: auto;
	#display: block;
	left: -1%;
	object-fit: cover;
}
.descrb {
	position: relative;
	border-radius: 100vw;
	margin-top: auto;
	margin-bottom: auto;
	font-size: 2vw;
}
#assistants {
	margin: 50px 50px 50px 30vw;
	#width: 1000px;
}
#search {
	top: 0;
	width: 25vw;
	height: 100%;
	position: fixed;
	background-color: white;
	border-right: 3px solid lightgrey;
}
#search span {
	text-indent: 1.5em;
}
#search * {
	margin: 5%;
}
#searchHeader {
	font-size: 4vw;	
}
#sort {
	background-color: white;
	border-radius: 100vw;
	position: fixed;
	#top: 1vh;
	left: 25vw;
	#right: 1vh;
	top: 0;
	right: 0;
	border: 2px solid lightgrey;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
#sort * {
	margin: 1vh 0;
	padding: 1vh 0;
}
.vl {
	border-left: 2px solid lightgrey;
	height: 100%;
}
#sort button {
	border-radius: 100vw;
	outline: none;
	border: 2px solid lightgrey;
	background-color: white;
	#margin: 1vh;
	padding: 1vh;
}
select {
	border-radius: 100vw;	
	border: 2px solid lightgrey;
}
select:focus {
	outline:0;
	border-radius: 0;
}
#create {
	position: fixed;
	right: 0;
	bottom: 0;
	border-radius: 50%;
	font-size: 50px;
	padding: 50px;
	margin: 1%;
	width: 25px;
	height: 25px;
	background-color: white;
	color: lightgrey;
	border: 2px solid lightgrey;
	outline: none;
	cursor: pointer;
}
.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
a {
	text-decoration: none;
	color: black;
}